body{
    margin-left: auto;
    margin-right: auto;
}

footer{
    display: block;
    text-align: center;
    font-style: italic;
}

form{
    padding: 2em;
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input,textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 9.5em;
}

#herojobs{
    background-image: url(herojobs.jpg);
    background-repeat: no-repeat;
    block-size: 100% 100%;
    height: 250px;
}